@import './base.css';

@font-face {
  font-family: "Yekan Bakh";
  src:
    local('YekanBakhFaNum-Black'),
    url(../Fonts/ttf/YekanBakhFaNum-Black.ttf) format('truetype');
}

@font-face {
  font-family: "Yekan Bakh light";
  src:
    local('YekanBakhFaNum-light'),
    url(../Fonts/ttf/YekanBakhFaNum-Light.ttf) format('truetype');
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: "Yekan Bakh FaNum black", sans-serif;
}

body, html, * {
  font-family: "Yekan Bakh light", sans-serif;
  /* font-size: 1.2rem; */
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}